#include "resource.h"

//
// Version Information
//
IDI_VERSION_INFO VERSIONINFO
FILEVERSION 0,5,0,0
PRODUCTVERSION 0,5,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
{
BLOCK "StringFileInfo"
{
  BLOCK "040904E4"  // Change from 04B0 → 04E4 (Windows Latin 1 / Western European)
  {
    VALUE "CompanyName",      "Stergo"
    VALUE "FileDescription",  "CBR & CBZ Optimizer"
    VALUE "FileVersion",      "v0.5.0"
    VALUE "InternalName",     "CBRZoptimizer"
    VALUE "OriginalFilename", "CBRZoptimizer.exe"
    VALUE "ProductName",      "CBRZ Optimizer"
    VALUE "ProductVersion",   "v0.5.0"
    VALUE "LegalCopyright",   "© 2025 Kresimir Kokanovic. All rights reserved."
  }
}

BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0x04E4
}
}

//
// Application Icon
//
IDI_ICON1 ICON "icons/comic.ico"
IDB_BUTTON_PLUS BITMAP "icons/plus-32d.bmp"
IDB_BUTTON_MINUS BITMAP "icons/minus-32b.bmp"
IDB_BUTTON_ADD_FOLDER BITMAP "icons/add-folder-32c.bmp"
IDB_BUTTON_ADD BITMAP "icons/new_add_insert_file_32.bmp"
IDB_BUTTON_START BITMAP "icons/start_icon_30.bmp"
IDB_BUTTON_STOP BITMAP "icons/stop_icon_30e.bmp"